.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 60px;
    box-shadow:  0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: white;
}
.nav-logo{
    width: 40px;
}
.nav-profile{
    width: 75px;
}
.navbar p {
    font-size: 30px;
    font-weight: 600;
    background: linear-gradient(to right, #00ffff, #00bfff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media(max-width:800px){
    .navbar{
        padding: 1px 30px;
    }
    .nav-logo{
        width: 35px;
    }
    .navbar p {
    font-size: 20px;
    font-weight: 500;
    }
    .nav-profile{
        width: 60px;
    }
}